In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import bokeh as bk
import plotly.express as px


import ipywidgets as widgets
from IPython.display import display

import datetime

#police pour caractere speciaux
#import matplotlib.font_manager as fm

## Type des donn√©es

In [2]:
file_path = 'Tricount_Switzerland.csv'
data = pd.read_csv(file_path)
data.head(3)

,Titre,Montant,Devise,Taux de change,Montant dans la devise du tricount (CHF),Type de transaction,Cat√©gorie,Pay√© par,Pay√© par Caps,Pay√© par Emilian,Impact√© √† Caps,Impact√© √† Emilian,Date & heure,URL des images
0,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,24 mai 2024 00:00,NaN
1,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,25 mars 2024 00:00,NaN
2,Salaire stage,-2023.0,CHF,1.0,-2023.0,Rentr√©e d'argent,Salaire üíµ,Caps,-2023.0,0.0,2023.0,0.0,25 mai 2024 00:00,NaN

In [166]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 14 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Titre                                     148 non-null    object
 1   Montant                                   147 non-null    float64
 2   Devise                                    147 non-null    object
 3   Taux de change                            147 non-null    float64
 4   Montant dans la devise du tricount (CHF)  147 non-null    float64
 5   Type de transaction                       147 non-null    object
 6   Cat√©gorie                                 147 non-null    object
 7   Pay√© par                                  147 non-null    object
 8   Pay√© par Caps                             147 non-null    float64
 9   Pay√© par Emilian                          147 non-null    float64
 10  Impact√© √† Caps                            147 non-null    float64
 11  Impact√© √† Emilian                         147 non-null    float64
 12  Date & heure                              147 non-null    object
 13  URL des images                            0 non-null      float64
dtypes: float64(8), object(6)
memory usage: 16.3+ KB
None

In [167]:
print(data["Montant"].isna())

0      False
1      False
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147     True
Name: Montant, Length: 148, dtype: bool

In [3]:
# line 147 is null
data.iloc[147]

Titre                                       Tricount Switzerland üá®üá≠ - export√© le 15 juin 2...
Montant                                                                                   NaN
Devise                                                                                    NaN
Taux de change                                                                            NaN
Montant dans la devise du tricount (CHF)                                                  NaN
Type de transaction                                                                       NaN
Cat√©gorie                                                                                 NaN
Pay√© par                                                                                  NaN
Pay√© par Caps                                                                             NaN
Pay√© par Emilian                                                                          NaN
Impact√© √† Caps                                                                            NaN
Impact√© √† Emilian                                                                         NaN
Date & heure                                                                              NaN
URL des images                                                                            NaN
Name: 147, dtype: object

In [4]:
data.drop(index=147, inplace=True)

In [5]:
data['Impact√© √† Caps'] = data['Impact√© √† Caps'].abs()
data['Impact√© √† Emilian'] = data['Impact√© √† Emilian'].abs()
data.head(2)

,Titre,Montant,Devise,Taux de change,Montant dans la devise du tricount (CHF),Type de transaction,Cat√©gorie,Pay√© par,Pay√© par Caps,Pay√© par Emilian,Impact√© √† Caps,Impact√© √† Emilian,Date & heure,URL des images
0,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,24 mai 2024 00:00,NaN
1,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,25 mars 2024 00:00,NaN

In [6]:
# Fonction pour extraire l'ann√©e manuellement
def extract_year_manual(date_str):
    # S√©parer la cha√Æne en composants jour, mois, ann√©e et heure:minute
    components = date_str.split()
  
    year_str = components[2]
    year = int(year_str)
    return year

In [7]:
# Fonction pour extraire le mois manuellement avec un mapping fran√ßais -> anglais
def extract_month_manual(date_str):
    # S√©parer la cha√Æne en composants jour, mois, ann√©e et heure:minute
    components = date_str.split()
    
    month_str = components[1]
      
    month = month_str.lower()
    
    return month

In [9]:
# Appliquer les fonctions aux colonnes 'Date & heure'
data['Ann√©e'] = data['Date & heure'].apply(extract_year_manual)
data['Mois'] = data['Date & heure'].apply(extract_month_manual)

# Dictionnaire pour mapper les noms de mois en num√©ros de mois
mois_map = {
    'janvier': 1, 'f√©vrier': 2, 'mars': 3,
    'avril': 4, 'mai': 5, 'juin': 6,
    'juillet': 7, 'ao√ªt': 8, 'septembre': 9,
    'octobre': 10, 'novembre': 11, 'd√©cembre': 12
}

# Ajouter une colonne 'Num√©ro de Mois'
#df['Num√©ro de Mois'] = df['Mois'].map(mois_map)

# Convertir les colonnes Ann√©e et Num√©ro de Mois en une colonne Date
data['Date'] = pd.to_datetime(data['Ann√©e'].astype(str) + '-' + (data['Mois'].map(mois_map)).astype(str) + '-01')
data.head(5)

,Titre,Montant,Devise,Taux de change,Montant dans la devise du tricount (CHF),Type de transaction,Cat√©gorie,Pay√© par,Pay√© par Caps,Pay√© par Emilian,Impact√© √† Caps,Impact√© √† Emilian,Date & heure,URL des images,Ann√©e,Mois,Date
0,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,24 mai 2024 00:00,NaN,2024,mai,2024-05-01
1,Swibeco,-180.0,CHF,1.0,-180.0,Rentr√©e d'argent,Salaire üíµ,Emilian,0.0,-180.0,0.0,180.0,25 mars 2024 00:00,NaN,2024,mars,2024-03-01
2,Salaire stage,-2023.0,CHF,1.0,-2023.0,Rentr√©e d'argent,Salaire üíµ,Caps,-2023.0,0.0,2023.0,0.0,25 mai 2024 00:00,NaN,2024,mai,2024-05-01
3,Salaire stage,-2023.0,CHF,1.0,-2023.0,Rentr√©e d'argent,Salaire üíµ,Caps,-2023.0,0.0,2023.0,0.0,25 avril 2024 00:00,NaN,2024,avril,2024-04-01
4,Salaire stage,-2023.0,CHF,1.0,-2023.0,Rentr√©e d'argent,Salaire üíµ,Caps,-2023.0,0.0,2023.0,0.0,26 mars 2024 00:00,NaN,2024,mars,2024-03-01

In [11]:
columns = ["Date", "Ann√©e", "Mois", "Type de transaction", "Cat√©gorie", "Impact√© √† Caps", "Impact√© √† Emilian"]
df = data[columns]

In [12]:
df.head(10)

,Date,Ann√©e,Mois,Type de transaction,Cat√©gorie,Impact√© √† Caps,Impact√© √† Emilian
0,2024-05-01,2024,mai,Rentr√©e d'argent,Salaire üíµ,0.0,180.0
1,2024-03-01,2024,mars,Rentr√©e d'argent,Salaire üíµ,0.0,180.0
2,2024-05-01,2024,mai,Rentr√©e d'argent,Salaire üíµ,2023.0,0.0
3,2024-04-01,2024,avril,Rentr√©e d'argent,Salaire üíµ,2023.0,0.0
4,2024-03-01,2024,mars,Rentr√©e d'argent,Salaire üíµ,2023.0,0.0
5,2024-05-01,2024,mai,Rentr√©e d'argent,Salaire üíµ,0.0,1967.0
6,2024-04-01,2024,avril,Rentr√©e d'argent,Salaire üíµ,0.0,1967.0
7,2024-03-01,2024,mars,Rentr√©e d'argent,Salaire üíµ,0.0,1967.0
8,2024-06-01,2024,juin,D√©pense,Restaurants & Bars,0.0,4.0
9,2024-06-01,2024,juin,D√©pense,Restaurants & Bars,0.0,13.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 147 non-null    datetime64[ns]
 1   Ann√©e                147 non-null    int64
 2   Mois                 147 non-null    object
 3   Type de transaction  147 non-null    object
 4   Cat√©gorie            147 non-null    object
 5   Impact√© √† Caps       147 non-null    float64
 6   Impact√© √† Emilian    147 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 8.2+ KB

# Filtre sur les personnes

In [20]:
# Filtrer sur la personne qui depense
person_columns = {
    'Caps': 'Impact√© √† Caps',
    'Emilian': 'Impact√© √† Emilian'
}

In [21]:
# Cr√©er un widget de s√©lection
person_selector = widgets.Dropdown(
    options=person_columns.keys(),
    description='Qui ? ',
    disabled=False,
)

In [29]:
import pandas as pd
import plotly.express as px
import dash
from dash import dcc, html
from dash.dependencies import Input, Output

# Initialiser l'application Dash
app = dash.Dash(__name__)

# Liste unique des ann√©es et des mois pour les filtres
ann√©es = df['Ann√©e'].unique()
mois = df['Mois'].unique()
personnes = ['Caps', 'Emilian']

# D√©finir la disposition de l'application avec des filtres interactifs
app.layout = html.Div(children=[
    html.H1(children='Tableau de Bord des D√©penses'),

    html.Div([
        dcc.Dropdown(
            id='ann√©e-dropdown',
            options=[{'label': str(ann√©e), 'value': ann√©e} for ann√©e in ann√©es],
            value=ann√©es[0],
            placeholder="S√©lectionnez une ann√©e"
        ),
        dcc.Dropdown(
            id='mois-dropdown',
            options=[{'label': m.capitalize(), 'value': m} for m in mois],
            value=mois[0],
            placeholder="S√©lectionnez un mois"
        ),
        dcc.Dropdown(
            id='personne-dropdown',
            options=[{'label': p, 'value': p} for p in personnes],
            value=personnes[0],
            placeholder="S√©lectionnez une personne"
        )
    ], style={'display': 'flex', 'gap': '10px'}),

    dcc.Graph(id='graph-depenses-mensuelles'),
    dcc.Graph(id='graph-depenses-categorie'),
    dcc.Graph(id='graph-depenses-personne')
])

# Callback pour mettre √† jour les graphiques en fonction des filtres
@app.callback(
    [Output('graph-depenses-mensuelles', 'figure'),
     Output('graph-depenses-categorie', 'figure'),
     Output('graph-depenses-personne', 'figure')],
    [Input('ann√©e-dropdown', 'value'),
     Input('mois-dropdown', 'value'),
     Input('personne-dropdown', 'value')]
)
def update_graphs(selected_year, selected_month, selected_person):
    filtered_df = df[(df['Ann√©e'] == selected_year) & (df['Mois'] == selected_month) & (df['Type de transaction'] == "D√©pense")]

    # Utiliser la colonne appropri√©e en fonction de la personne s√©lectionn√©e
    montant_colonne = f'Impact√© √† {selected_person}'

    
    # D√©penses par cat√©gorie
    depenses_par_categorie = filtered_df.groupby('Cat√©gorie')[montant_colonne].sum().reset_index()
    fig_categorie = px.pie(depenses_par_categorie, names='Cat√©gorie', values=montant_colonne, title='R√©partition des D√©penses par Cat√©gorie')

    # D√©penses par personne (fixe car filtr√© par personne)
    depenses_par_personne_par_mois = df.groupby('Mois')[montant_colonne].sum().reset_index()
    fig_personne = px.bar(depenses_par_personne_par_mois, x='Mois', y=montant_colonne, title='D√©penses par Personne')

    return fig_categorie, fig_personne

# Lancer l'application
if __name__ == '__main__':
    app.run_server(debug=True)